<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PockiTrack Login</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<body>
    
        <div class="logo">
            <img src="assets/icons/pocki_logo.png" alt="PockiTrack Logo">
            <span class="brand">PockiTrack</span>
        </div>
            
    <div class="container">
        <div class="login-box">
            <h2>Log in</h2>
            <p class="subtitle">Enter your details to sign in to your account.</p>

            <form>
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="">

                <label for="password">Password</label>
                <input type="password" id="password" placeholder="">

                <a href="#" class="forgot">Forgot password?</a>

                <button type="submit" class="login-btn">Log in</button>
            </form>
        </div>
    </div>
</body>
</html>
